body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: 'Salsa', cursive;
  letter-spacing: 8px;
  color: #000000;
}

.icono {
  width: 150px;
  animation: moveUpDownAnimation 2s linear infinite;
  margin-bottom: 50px;
}

@keyframes moveUpDownAnimation {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(50px); 
  }
}

footer {
  background-color: #0077cc;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
nav {
  background-color: #9e9e9e;
  color: #fff;
  text-align: center; /* Alinea el texto al centro */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
}

nav li {
  margin: 0 80px; 
}

nav a {
  display: block;
}

.nav-icono {
  text-align: cenTer;
}

.nav-icono img {
  width: 50px; 
  height: auto;
}

div {
  max-width: 800px; 
  margin: 50px auto; 
  padding: 20px; 
  background-color: #fff; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin-bottom: 120PX;
}

p {
  line-height: 1.6; 
  margin-bottom: 15px; 
  font-family: 'Poppins', sans-serif;
}

p:last-child {
  margin-bottom: 0; 
}

.perro {
  width: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.video {
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 150PX;
}

.video video {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.video video::-webkit-media-controls-play-button {
  color: #333;
}

.video video::-webkit-media-controls-volume-slider {
  color: #333;
}

.formulario {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 150PX;
  font-family: 'Poppins', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input, textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #0077cc;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}

button:hover {
  background-color: #004d85;
}

h2{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  transition: box-shadow 0.5s ease; /* Transición de sombra */
}
